<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image to Text</title>
</head>
<body>
    <h1>Upload an Image to Extract Text</h1>
    <form method="POST" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="Upload">
    </form>
    
    {% if filename %}
        <h2>Uploaded Image:</h2>
        <img src="{{ url_for('static', filename='uploads/' + filename) }}" alt="Uploaded Image" width="300">
        <h2>Extracted Text:</h2>
        <pre>{{ text }}</pre>
    {% endif %}
    <section> <h1>IS FOR MY LOVE : YASSINE  </h1> </section>
</body>

</html>
